* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
}
body {
    background-color: black;
    margin: 0; /* remove default margin to prevent unwanted spacing around the page */
}

/* Header section */

.header {
    background-color: black;
    opacity: 0.9;
    position: fixed; /* make the header fixed at the top */
    top: 0; /* position at the top of the page */
    left: 0; /* start from the left edge */
    right: 0; /* stretch to the right edge */
    height: 69px;
    text-decoration: underline;
    display: flex;
    align-items: center; /* vertically center items */
    justify-content: flex-end;
    border-bottom: 1px solid seashell;
    padding-right: 20px;
    padding-left: 80px; /* reserve space for logo */
    z-index: 10; /* ensure the header is above other content */
}

.header h2 {
    margin: 0 18px; /* spacing between header items */
}

.logo {
    position: absolute; /* position the logo absolutely within the header */
    left: 10px;
    top: 10px;
    padding: 0;
    height: 50px;
    z-index: 11; /* ensure the logo is above the header */
}

.mission {
    margin-top: 69px; /* keep content below fixed header */
    display: flex;
    justify-content: center; /* center the inner box horizontally */
}

.mission-inner {
    width: 1200px;
    height: 700px;
    position: relative;
    background-image: url('../img-mission-background.jpg');
    background-position: center; /* center the background image */
    display: flex;
    align-items: center;   /* vertically centers children */
    justify-content: center; /* horizontally centers children */
}

.overlay {
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0.8;
}

.overlay h2,
.overlay h4 {
    margin: 0; 
    text-align: center;

}

.overlay h2 {
    font-size: 36px;
    padding: 12px 0;

}

.overlay h4 {
    padding: 10px 0;
    font-weight: 600;

}

/* Tea of the Month Section */
.tea-container {
    font-size: 36px;
    width: 1000px;
    display: flex;
    flex-direction: column; /* stack items vertically */
    align-items: center; /* center items horizontally */
    justify-content: center; /* center items vertically */
    margin: auto; /* center the container and add vertical spacing */
}

.tea-items {
    display: flex;
    justify-content: center; /* space items evenly with space around them */
    flex-wrap: wrap; /* allow items to wrap to the next line on smaller screens */
    
}

.tea-images {
    width: 300px;
    height: 200px;
    margin: 15px; /* add margin around each image for spacing */
}

.berry-blitz h4,
.spiced-rum h4,
.seasonal-donuts h4,
.myrtle-ave h4,
.bedford-bizarre h4 {
    margin: 0; /* remove default h4 margins */
    padding: 10px 0; /* add vertical padding for spacing */
}

.tea-header h2 {
    font-size: 30px;
    font-weight: 800;
}
/* Locations Section */
.locations-container {
    display: flex;
    background-image: url(../img-locations-background.jpg);
    background-position: center;
    height: 500px;
    width: 1200px;
    margin: auto; /* center the container and add vertical spacing */
    justify-content: center;
    flex-direction: column; /* stack items vertically */
}

.locations-container h2 {
    background-color: transparent;
    margin-bottom: 15px 0; /* add vertical margin for spacing */
    font-size: 30px;
    font-weight: 800;
}

.location-boxes {
    display: flex;
    justify-content: center; /* space items evenly with space around them */
    flex-wrap: wrap; /* allow items to wrap to the next line on smaller screens */;
} 

.location-boxes > div {
  width: 300px;
  background-color: black;
  opacity: 1;
  padding: 20px 0px;
  margin: 0 20px;
}

/* Contact Section */
.contact-container {
    height: 200px;
}

.contact-container h2 {
    margin: 0; /* remove default h2 margins */
    padding: 10px 0; /* add vertical padding for spacing */
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.footer h5{
    margin: 0;
    text-align: left;
    margin: 20px 20px;
}